{% extends 'base.html.twig' %}

{% block title %} - Salida{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="flex output-contenedor">
        <div class="tabla">
            <h2>Procesos cargados</h2>
            <div class="cuerpo-tabla">
                <table style="text-align: center;">
                    <tr class="header">
                        <th rowspan="2">ID</th>
                        <th rowspan="2">TA</th>
                        <th colspan="3">Ciclo</th>
                        <th rowspan="2">Tamaño</th>
                    </tr>
                    <tr class="header second">
                        <th>Irrupción</th>
                        <th>Bloqueo</th>
                        <th>Irrupción</th>
                    </tr>
                    <tbody>
                    {% for key,proceso in procesos %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ proceso.ta }}</td>
                            <td>{{ proceso.ti1 }}</td>
                            <td>{{ proceso.bloqueo }}</td>
                            <td>{{ proceso.ti2 }}</td>
                            <td>{{ proceso.size }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tabla">
            <h2>Particiones cargadas</h2>
            <div class="cuerpo-tabla">
                <table style="text-align: center;">
                    <tr class="header">
                        <th>ID Partición</th>
                        <th>Tamaño</th>
                    </tr>
                    <tbody>
                        {% for key,particion in memoria.particiones %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ particion.size }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="gantt">
        <h2>Diagrama de Gantt</h2>
        <div class="gantt-body" altura="">
            <div style="display: inline-flex;">
                <div style="position: relative;">
                    <div class="gantt-ejex">0</div>
                </div>
                {% for t, rafaga in rafagas %}
                    <div
                      class="gantt-line
                            {% if t == 0 %}
                                first
                            {% endif %}
                            {% if t>0 and not rafagas[t-1]['cola_listos']|length and not rafagas[t-1]['cola_nuevos']|length%}
                                 ocioso
                            {% endif %}
                            "
                    >
                        {% if rafaga['finalizo'] %}
                            <div class="proceso-name">{{ rafaga['finalizo']['id'] }}</div>
                            <div class="proceso-sale"></div>
                            <div class="flecha"><i class="fas fa-chevron-right"></i></div>
                        {% endif %}
                        {% if rafaga['bloqueo'] %}
                            <div class="proceso-name">{{ rafaga['bloqueo']['id'] }}</div>
                            <div class="proceso-bloquea"></div>
                            <div class="flecha-bloquea"><i class="fas fa-chevron-left"></i></div>
                        {% endif %}
                    </div>
                    <div style="position: relative;">
                        <div class="gantt-ejex">
                            <a objetivo="propover-{{ t + 1 }}" data-toggle="popover"
                               data-container="body" data-html="true"
                               data-placement="bottom" flecha="popover-flecha-{{ t + 1 }}"
                            >
                                {{ t + 1 }}
                            </a>
                        </div>
                        <div id="popover-flecha-{{ t + 1 }}" class="popover-flecha"></div>
                        <div class="data-popover" id="propover-{{ t + 1 }}" style="display: none;">
                            <div class="popover-body">
                                {% if rafaga['ejecuto'] %}
                                    <div>
                                        <span>Se ejecutó: </span>
                                        <span class="proceso-name">
                                            <strong>{{ rafaga['ejecuto']['id'] }}</strong>
                                        </span>
                                    </div>
                                {% endif %}
                                {% if rafaga['bloqueo'] %}
                                    <div>
                                        <span>Se bloquea: </span>
                                        <span class="proceso-name">
                                            <strong>{{ rafaga['bloqueo']['id'] }}</strong>
                                        </span>
                                    </div>
                                {% endif %}
                                {% if rafaga['finalizo'] %}
                                    <div>
                                        <span>Finaliza: </span>
                                        <span class="proceso-name">
                                            <strong>{{ rafaga['finalizo']['id'] }}</strong>
                                        </span>
                                    </div>
                                {% endif %}
                                {% if rafaga['cola_nuevos']|length %}
                                    <div class="cola nuevos">
                                        <div class="titulo">Cola de nuevos procesos</div>
                                        <div class="d-flex cola-body">
                                            {% for t, procesoNuevo in rafaga['cola_nuevos'] %}
                                                <div
                                                    {% if t is divisible by(2) %}
                                                        class="par"
                                                    {% else %}
                                                        class="impar"
                                                    {% endif %}
                                                >
                                                    {{ procesoNuevo['id'] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if rafaga['cola_listos']|length %}
                                    <div class="cola listos">
                                        <div class="titulo">Cola de procesos listos</div>
                                        <div class="d-flex cola-body">
                                            {% for t, procesoNuevo in rafaga['cola_listos'] %}
                                                <div
                                                  {% if t is divisible by(2) %}
                                                      class="par"
                                                  {% else %}
                                                      class="impar"
                                                  {% endif %}
                                                >
                                                    {{ procesoNuevo['id'] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if rafaga['cola_bloqueados']|length %}
                                    <div class="cola bloqueados">
                                        <div class="titulo">Cola de procesos bloqueados</div>
                                        <div class="d-flex cola-body">
                                            {% for t, procesoNuevo in rafaga['cola_bloqueados'] %}
                                                <div
                                                  {% if t is divisible by(2) %}
                                                      class="par"
                                                  {% else %}
                                                      class="impar"
                                                  {% endif %}
                                                >
                                                    {{ procesoNuevo['id'] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div>
                                    <span>Memoria</span>
                                    <div>
                                        <ul>
                                            {% for particion in rafaga['particiones'] %}
                                                <li>
                                                    <div>
                                                        Paticion {{ particion['id'] }}:
                                                        {% if particion['proceso_asignado'] %}
                                                            {{ particion['proceso_asignado']['id'] }}
                                                        {% endif %}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% for procesoNuevo in rafaga['cola_bloqueados'] %}
                                        <span>{{ procesoNuevo['id'] }}</span> -
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="gantt-line last"></div>
            </div>
        </div>

{#        <div id="popovers">#}
{#            <div>#}
{#                <h3>t= 0</h3>#}
{#                <div>#}
{#                    <span>Cola de nuevos</span>#}
{#                    {% for procesoNuevo in rafagaInicial['cola_nuevos'] %}#}
{#                        <span>{{ procesoNuevo['id'] }}</span> -#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div>#}
{#                    <span>Cola de listos</span>#}
{#                    {% for procesoNuevo in rafagaInicial['cola_listos'] %}#}
{#                        <span>{{ procesoNuevo['id'] }}</span> -#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div>#}
{#                    <span>Memoria</span>#}
{#                    <div>#}
{#                        <ul>#}
{#                            {% for particion in rafagaInicial['particiones'] %}#}
{#                                <li>#}
{#                                    <div>#}
{#                                        Paticion {{ particion['id'] }}:#}
{#                                        {% if particion['proceso_asignado'] %}#}
{#                                            {{ particion['proceso_asignado']['id'] }}#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    <a class="btn btn-secondary p-1 m-1" href="{{ path('home') }}">
        Volver
    </a>

    <div>
        Dejo un dump acá por cuestiones de prueba
    </div>
    {{ dump(rafagas, rafagas|length) }}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('output-simulador') }}
{% endblock %}
