{% extends 'base.html.twig' %}

{% block title %} - Salida{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    {{ include('simulador/componentes-output/datos.html.twig') }}
    {{ include('simulador/componentes-output/gantt.html.twig') }}
    <a class="btn btn-secondary p-1 m-1" href="{{ path('home') }}">
        Volver
    </a>

    <div>
        Dejo un dump acá por cuestiones de prueba
    </div>
    {{ dump(rafagas, rafagas|length) }}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('output-simulador') }}
{% endblock %}
