{% extends 'base.html.twig' %}

{% block title %} - Salida{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
{% endblock %}

{% block body %}

    {{ include('simulador/componentes-output/datos.html.twig') }}
    {{ include('simulador/componentes-output/gantt.html.twig') }}
    {{ include('simulador/componentes-output/mapa-memoria.html.twig') }}
    <a class="btn btn-secondary p-1 m-1" href="{{ path('home') }}">
        Volver
    </a>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('output-simulador') }}
{% endblock %}
